<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    {% if question %}
    <h1> Question : </h1>
    <h2>{{question.question_txt}}</h2>
    <h1> Choices : </h1>
    <select name="choices">
        <option value="First Choice ">Cohice one</option>
        <option value="Second Choice">Cohice Two</option>
      </select>
    {%endif%}
</body>
</html>